/* General Styles */

.about-box {
  background-color: #eff3f7;
  border-radius: 5px;
  margin-bottom: 25px;
}

.about-box .about-header {
  margin: 0;
  padding: 13px 20px;
  display: inline-block;
  font-family: "fira_sansbook", sans-serif;
  color: #3ba8c0;
  font-size: 27px;
  font-weight: normal;
  border-bottom: 2px solid #3ba8c0;
  margin-bottom: 15px;
}


/* END General Styles */

/* Logo Style */

.image-wrap {
	float: left;
	margin-top: 18px;
	margin-left: 50px;
}

.avatar-box {
	width: 150px;
	height: 150px;
	border-radius: 50% 50%;
	border: 5px solid #32a6bd;
	overflow: hidden;
}

.avatar {
	width: 100%;
}

/* END Logo Style */

/* Work Sheet */

.about-box .worksheet-wrap {
	width: 400px;
	float: right;
}

.worksheet-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.worksheet-item {
	margin-bottom: 10px;
}

.worksheet-what {
	float: left;
	font-size: 16px;
	font-family: 'fira_sansmedium', sans-serif;
}

.worksheet-into {
	float: left;
	margin-left: 25px;
	font-size: 15px;
	font-family: 'fira_sansbook', sans-serif;
	max-width: 218px;
	overflow: hidden;
}

.worksheet-into .skills-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.skill-item {
	display: inline-block;
	margin-right: 6px;
	min-width: 40px;
	padding: 0 7px;
	line-height: 1.2;
	border-radius: 4px;
	background: -webkit-linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%);
	background: -moz-linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%);
	background: -o-linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%);
	background: linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%);
	color: #fff;
	text-align: center;
}

/* END Work Sheet */

/*Block #2*/
.about-box ul {
	margin: 0;
	list-style: none;
    padding-bottom: 40px;
}

.about-box ul .container-icon,
.container-info {
	display: inline-block;
}

.about-box ul .container-icon {
    margin-right: 30px;
}

.container-icon .icon-item {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.container-icon .work {
    background: url("../images/suitcase.png") 0 0 no-repeat;
}

.container-icon .education {
    background: url("../images/education.png") 0 0 no-repeat;
}

.container-icon .course {
    background: url("../images/course.png") 0 0 no-repeat;
}

.container-info p {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
}

/* End Block #2*/