.contact-container {
    min-height: 840px;
    margin-bottom: 40px;
    background-color: #EFF3F7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'fira_sanslight', sans-serif;
}

.contact-header {
    margin: 0;
    margin-bottom: 50px;
    padding: 45px;
    border-bottom: 15px solid #51DAF8;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #48cbe8;
    text-align: center;
    color: white;
}

.form-container {
    width: 400px;
    margin: 0 auto;
}

.form-group {
    display: inline-block;
    margin-bottom: 20px;
    width: 190px;
}

.group-message {
    width: 100%;
}

.group-name {
    float: left;
}

.group-email {
    float: right;
}

.g-recaptcha {
    margin-bottom: 20px;
}

.form-item-label {
    line-height: 20px;
    font-size: 20px;
    color: #959aa8;
    margin-bottom: 5px;
}

.form-item-label, .form-item-input {
    display: block;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #67dffa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: #67dffa;
}

.form-item-input {
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.form-item-placeholder {
    display: block;
    height: 180px;
    padding: 10px;
}

/* placeholder color */
.form-input::-webkit-input-placeholder {
    color: #67dffa;
}

.form-input:-moz-placeholder { /* Firefox 18- */
    color: #67dffa;
}

.form-input::-moz-placeholder {  /* Firefox 19+ */
    color: #67dffa;

}

.form-input:-ms-input-placeholder {
    color: #67dffa;
}
/* end placeholder color */

.form-button {
    width: 100%;
}

.submit-form {
    width: 135px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'fira_sanslight', sans-serif;
    color: white;
    line-height: 40px;
}

.button-submit {
    float: left;
    background-color: #48cbe8;
    -webkit-box-shadow: inset 0 -3px 0 0 #3ba8c0;
    -moz-box-shadow: inset 0 -3px 0 0 #3ba8c0;
    box-shadow: inset 0 -3px 0 0 #3ba8c0;
}

.button-reset {
    float: right;
    background-color: #849db5;
    -webkit-box-shadow: inset 0 -3px 0 0 #687b8f;
    -moz-box-shadow: inset 0 -3px 0 0 #687b8f;
    box-shadow: inset 0 -3px 0 0 #687b8f;
}

.button-submit:hover,
.button-reset:hover {
    margin-top: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button-submit:active,
.button-reset:active {
    margin-top: 2px;
    -webkit-box-shadow: inset 0 3px 0 0 #687b8f;
    -moz-box-shadow: inset 0 3px 0 0 #687b8f;
    box-shadow: inset 0 3px 0 0 #687b8f;
}